@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');

.cabecalho{
  color:(#161666e2);
    background-color:#161666e2;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px ;
    font-family: "Kalnia", serif;
    font-weight: 300px; 
   }

   .cabecalho-icone{
    width: 60px;
   
    
   }
   
   .menu {
      list-style: none;
      display: flex;
      justify-content: space-between;
      background-color: #161666e2;
      font-weight: 300px;
      font-family: "Kalnia", serif;
   }
   
   .menu a{
     text-decoration: none;
     color: white;
     font-size: 25px;
     font-weight: 300px;
     line-height: 45px;
   }
   
   .menu a:hover{
       color:rgb(3, 3, 3);
   }
   
  .texto-conteudo{
    text-align: center;
  }

  .mapa{
    display: block;
    margin: 0 auto;
  }

.container-produtos{
  list-style: none;
  display: flex;
}

  .item-produto { 

    width: 15%;
    background-color: #DDE4EF ;
    margin: 30px;
    padding: 30px 30px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .imagem-produto {
    width: 100%;
    background-color: #ffffffe2;
    height: 80%;
  }

  .nome-produto {

    text-align: center;
    font-weight: 400;
  }
   
  .preco-produto{

    text-align: center;
    background-color: white;
  }


